<section id="selfinfo" class="dd-even-section">
    <div class="dd-home-self-mc-profile" data-aos="zoom-out-up">
        <div class="dd-blog-quote-icon">
            <i class="fas fa-crown"></i>
        </div>
        <h2>Hey There.</h2>
        <p>These are some of the articles which I came across throughout my life which might help you all be better at
            what you are. Go ahead and read if you find them interesting.</p>
    </div>
</section>

<section id="blogsection1">
    <div class="container-fluid dd-res-work-cont dd-blog-tiles-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="card" data-aos="fade-right" data-aos-duration="1000">
                    <div class="card-img-top dd-blog-tiles-img-01 dd-blog-tiles-img"></div>
                    <div class="card-body">
                        <label class="card-title">Introduction to stock market</label>
                        <div class="dd-res-work-card-data">
                            <p class="card-text">Learn about the importance of savings. Identify avenues to invest the
                                savings in suitable investment vehicle.</p>
                            <a href="https://zerodha.com/varsity/module/introduction-to-stock-markets/" target="_blank"
                                class="card-link">Read more</a>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-text">Source : zerodha.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="card" data-aos="fade-up" data-aos-duration="1000">
                    <div class="card-img-top dd-blog-tiles-img dd-blog-tiles-img-02"></div>
                    <div class="card-body">
                        <label class="card-title">Web Architecture 101</label>
                        <div class="dd-res-work-card-data">
                            <p class="card-text">The basic architecture concepts one should know before getting started
                                as a web developer as either freelancer or working in industry.</p>
                            <a href="https://engineering.videoblocks.com/web-architecture-101-a3224e126947"
                                target="_blank" class="card-link">Read more</a>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-text">Source : medium.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="card" data-aos="fade-left" data-aos-duration="1000">
                    <div class="card-img-top dd-blog-tiles-img dd-blog-tiles-img-03"></div>
                    <div class="card-body">
                        <label class="card-title">the 2018 web developer roadmap</label>
                        <div class="dd-res-work-card-data">
                            <p class="card-text">An illustrated guide to becoming a Frontend or Backend Developer and
                                starting a career in the field of developemt.</p>
                            <a href="https://codeburst.io/the-2018-web-developer-roadmap-826b1b806e8d" target="_blank"
                                class="card-link">Read more</a>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-text">Source : codeburst.io</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="blogsection2">
    <div class="container-fluid dd-res-work-cont dd-blog-tiles-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="card" data-aos="fade-right" data-aos-duration="1000">
                    <div class="card-img-top dd-blog-tiles-img dd-blog-tiles-img-04"></div>
                    <div class="card-body">
                        <label class="card-title">Writing the Perfect Blog</label>
                        <div class="dd-res-work-card-data">
                            <p class="card-text">Learn about how to write a blog introduction so people have a reason to
                                stick around and keep reading.</p>
                            <a href="https://flypchart.co/perfect-blog-introduction/" target="_blank"
                                class="card-link">Read more</a>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-text">Source : flypchart.co</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="card" data-aos="fade-up" data-aos-duration="1000">
                    <div class="card-img-top dd-blog-tiles-img dd-blog-tiles-img-05"></div>
                    <div class="card-body">
                        <label class="card-title">Digging on deep data</label>
                        <div class="dd-res-work-card-data">
                            <p class="card-text">A real-world global treasure hunt. Can data scientists make geology a
                                real science? Read more to find out.</p>
                            <a href="https://towardsdatascience.com/digging-on-deep-data-a-real-world-global-treasure-hunt-b0ab4329b51c"
                                target="_blank" class="card-link">Read more</a>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-text">Source : towardsdatascience.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="card" data-aos="fade-left" data-aos-duration="1000">
                    <div class="card-img-top dd-blog-tiles-img dd-blog-tiles-img-06"></div>
                    <div class="card-body">
                        <label class="card-title">How to Make Your Dreams a Reality</label>
                        <div class="dd-res-work-card-data">
                            <p class="card-text">The ideas brought forward by eager and creative minds are often great
                                and do have the potential to bring business dreams into reality.</p>
                            <a href="https://medium.com/@suttida/how-to-make-your-dreams-a-reality-66a62f3280ae"
                                target="_blank" class="card-link">Read more</a>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        <p class="card-text">Source : medium.com</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="contactme" class="dd-even-section">
    <div class="container-fluid dd-home-cm-cont" data-aos="zoom-out-up" data-aos-easing="linear">
        <h2 class="dd-home-cm-hd">Hire a Software Developer</h2>
        <p class="dd-home-cm-req-desc">Now that you know what I've done and what I could do for you, feel free to reach
            out and start a conversation. I always enjoy speaking with passionate business owners about their needs.</p>
        <a class="dd-home-cm-btn btn btn-outline-dark" href="mailto:doltondsilva23@gmail.com">CONTACT ME</a>
    </div>
</section>