<section id="selfinfo" class="dd-even-section">
    <div class="dd-home-self-mc-profile">
        <div class="dd-blog-quote-icon">
            <i class="fas fa-crown"></i>
        </div>
        <h2>Hey There.</h2>
        <p>Even if there is no work for me, saying a hi will increase your contact. So go ahead and get in touch with me
            to explore various things and opportunities.</p>
    </div>
</section>

<section>
    <div class="container-fluid dd-res-work-cont dd-contactme-tiles-cont">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="card text-center">
                    <i class="fas fa-envelope dd-contactme-card-icon"></i>
                    <div class="card-body">
                        <label class="card-title">Mail</label>
                        <div class="dd-res-work-card-data">
                            <p class="card-text">Drop me a mail and I will surely get in touch with you as soon as
                                possible.</p>
                            <a href="mailto:doltondsilva23@gmail.com" class="btn btn-outline-dark">connect</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-center">
                    <i class="fab fa-linkedin dd-contactme-card-icon"></i>
                    <div class="card-body">
                        <label class="card-title">linked in</label>
                        <div class="dd-res-work-card-data">
                            <p class="card-text">Connect on linked in and drop a message and I will get back soon.</p>
                            <a href="https://www.linkedin.com/in/dolton-dsilva" target="_blank"
                                class="btn btn-outline-dark">connect</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card text-center">
                    <i class="fab fa-facebook dd-contactme-card-icon"></i>
                    <div class="card-body">
                        <label class="card-title">facebook</label>
                        <div class="dd-res-work-card-data">
                            <p class="card-text">Send a request on facebook or drop a message and I will get in touch.
                            </p>
                            <a href="https://www.facebook.com/dolton.dsilva.1" target="_blank"
                                class="btn btn-outline-dark">connect</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid dd-contactme-connect-cont">
        <i class="fas fa-home"></i>
        <label class="card-title dd-contactme-connect-title">go old school</label>
        <p class="dd-home-cm-req-desc">And drop a letter on the address mentioned below or visit my hometown if you
            happen to come close by. </p>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center">
                    <i class="fas fa-address-card dd-contactme-card-icon"></i>
                    <div class="card-body">
                        <label class="card-title">dolton d'silva</label>
                        <div>
                            <address>
                                Bhatodi wadi, Acton-Holi Road<br>
                                Sandor, Vasai West<br>
                                Palghar 401201, Maharashtra<br>
                                India
                            </address>
                            <a href="mailto:doltondsilva23@gmail.com" class="btn btn-outline-dark">connect</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>