<section class="dd-even-section">
    <div class="dd-home-self-mc-profile">
        <div class="dd-blog-quote-icon">
            <i class="fas fa-podcast dd-port-infosec-icon"></i>
        </div>
        <h2>Hi.</h2>
        <p>I'm a web developer based in Mumbai, India. I have a passion for web development and love to create web
            applications.</p>
    </div>
    <div class="row">
        <div class="col-lg-6">

        </div>
    </div>
</section>

<section>
    <div class="container-fluid dd-home-skill-cont">
        <div class="row justify-content-center">
            <div class="col-lg-1 col-md-1">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-body">
                        <i class="fas fa-wrench dd-home-skillsec-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="card dd-web-card-noborder">
                    <div class="card-body">
                        <label class="card-title">Develop what you need.</label>
                        <div>
                            <p class="card-text">I'm a developer, so I know how to create your website to run across
                                devices using the latest technologies available.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center flex-column-reverse flex-sm-row">
            <div class="align-self-start col-lg-1 col-md-1 order-last">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-body">
                        <i class="fas fa-cogs dd-home-skillsec-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="card dd-web-card-noborder">
                    <div class="card-body">
                        <label class="card-title">Test what you need.</label>
                        <div>
                            <p class="card-text">I can also test your application to the deepest of the levels.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-1 col-md-1">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-body">
                        <i class="far fa-clock dd-home-skillsec-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="card dd-web-card-noborder">
                    <div class="card-body">
                        <label class="card-title">Tune what you need.</label>
                        <div>
                            <p class="card-text">I can also improve your application performance to handle large load.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center flex-column-reverse flex-sm-row">
            <div class="align-self-start col-lg-1 col-md-1 order-last">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-body">
                        <i class="fas fa-server dd-home-skillsec-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="card dd-web-card-noborder">
                    <div class="card-body">
                        <label class="card-title">Build what you need.</label>
                        <div>
                            <p class="card-text">I can also build the infrastructure on a cloud environment using
                                virtualization tools.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-1 col-md-1">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-body">
                        <i class="far fa-edit dd-home-skillsec-icon"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-8">
                <div class="card dd-web-card-noborder">
                    <div class="card-body">
                        <label class="card-title">Document what you need.</label>
                        <div>
                            <p class="card-text">I can also with writing the technical documentation for any tool built.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contactme" class="dd-even-section">
    <div class="dd-home-cm-cont">
        <h2 class="dd-home-cm-hd">Get In Touch</h2>
        <label class="dd-home-cm-req">I am currently available for hiring.</label>
        <p class="dd-home-cm-req-desc">If you have a project that you want to get started, think you need my help with
            something or just fancy saying hey, then get in touch.</p>
        <a class="dd-home-cm-btn btn btn-outline-dark" href="mailto:doltondsilva23@gmail.com">CONTACT ME</a>
    </div>
</section>