<section class="dd-even-section">
    <div class="dd-home-self-mc-profile" data-aos="zoom-out-up">
        <div class="dd-blog-quote-icon">
            <i class="fas fa-cogs dd-port-infosec-icon"></i>
        </div>
        <h2>Hey There.</h2>
        <p>It is always good to find out some of the work I have done in the past. Below you'll find a selection of some
            of my most recent projects that showcase the type of I work do.</p>
    </div>
</section>

<section>
    <div class="container-fluid dd-port-cont dd-web-first-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-img-top dd-port-tiles-img-desk dd-blog-tiles-img" data-aos="fade-right" data-aos-duration="1000"></div>
                    <div class="card-body">
                        <label class="card-title">Web Development</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card dd-web-card-noborder" data-aos="fade-left">
                    <div class="card-body dd-about-me-card-body-text">
                        <p> Worked with a talented team of web developers to design, build, test and maintain the web
                            applications for banking, insurance and project management domain. Learnt a lot while
                            working on the same as to how a enterprise level web application are built, maintained and
                            used by other organisations. Build web services and perform integration with various tools
                            for a better end using experience with feature rich application. It was a good learning
                            experience overall, but then who stops learning. For Warren Buffet always says that you
                            should always be better then yesterday.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid dd-port-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-img-top dd-port-tiles-img-perf dd-blog-tiles-img" data-aos="fade-right" data-aos-duration="1000"></div>
                    <div class="card-body">
                        <label class="card-title">application performance</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card dd-web-card-noborder" data-aos="fade-left">
                    <div class="card-body dd-about-me-card-body-text">
                        <p>While working on web applications, there was a need to scale the application to
                            handle higher load. To test the performance, I built two scripts using JMeter, the first
                            one to test all the available web services and the second one for testing the
                            performance of the basic operations of the application using a number of concurrent
                            users who randomly performed the operations for a certain duration, normally one hour.
                            The reports generated were then analysed and database was tuned accordingly. Also the
                            code was improved and caching and queueing was implemented for reducing the database
                            queries.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid dd-port-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-img-top dd-port-tiles-img-infra dd-blog-tiles-img" data-aos="fade-right" data-aos-duration="1000"></div>
                    <div class="card-body">
                        <label class="card-title">web infrastructure</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card dd-web-card-noborder" data-aos="fade-left">
                    <div class="card-body dd-about-me-card-body-text">
                        <p>During working on building the performance scripts and improving the application
                            performance as well as while setting up infrastructure for deployment, there was a need for
                            a stable set of environment to get consistent results and smooth deployment. To achieve
                            this, I wrote a script using Docker and Docker compose. Alternatively the infrastructure was
                            created using a tool called Vagrant, which created virtual machines. Using
                            these tools, the scripts were developed to create entire infrastructure on AWS using the ec2
                            containers or on an Linux box. The machines were configured using shell scripting, which
                            finally create a web infrastructure consisting of a server instances and database servers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid dd-port-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-img-top dd-port-tiles-img-code dd-blog-tiles-img" data-aos="fade-right" data-aos-duration="1000">
                        <a class="btn btn-dark dd-port-prjview-btn" href="https://github.com/dolton"
                            target="_blank">view</a>
                    </div>
                    <div class="card-body">
                        <label class="card-title">other projects</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card dd-web-card-noborder" data-aos="fade-left">
                    <div class="card-body dd-about-me-card-body-text">
                        <p>As an exploration in new technologies and architecture, I have been working on other
                            small projects which helped me in getting practical exposure to the contepts and
                            techniques. The various projects which includes websites, games and web applications are
                            added on my github page, go ahead and check out.</p>
                        <a class="btn btn-outline-dark" href="https://github.com/dolton" target="_blank">github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contactme" class="dd-even-section">
    <div class="container-fluid dd-home-cm-cont" data-aos="zoom-out-up" data-aos-easing="linear">
        <h2 class="dd-home-cm-hd">Hire a Software Developer</h2>
        <p class="dd-home-cm-req-desc">Now that you know what I've done and what I could do for you, feel free to
            reach out and start a conversation. I always enjoy speaking with passionate business owners about their
            needs.</p>
        <a class="dd-home-cm-btn btn btn-outline-dark" href="mailto:doltondsilva23@gmail.com">CONTACT ME</a>
    </div>
</section>