<footer id="footer">
    <div class="dd-home-ft-cont">
      <div class="dd-home-ft-icon-cont">
        <a href="https://www.instagram.com/doltondsilva"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com/dolton.dsilva.1"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/in/dolton-dsilva"><i class="fab fa-linkedin-in"></i></a>
        <a href="https://twitter.com/dolltonn"><i class="fab fa-twitter"></i></a>
      </div>
      <div>
        <i class="far fa-copyright dd-home-ft-icon-cp"></i>
        <label>2021 Dolton Dsilva</label>
      </div>
    </div>
  </footer>