<section id="selfinfo" class="dd-even-section">
    <div class="dd-home-self-mc-profile" data-aos="zoom-out-up">
        <div class="dd-blog-quote-icon">
            <i class="fas fa-crown"></i>
        </div>
        <h2>Hey There.</h2>
        <p>My passion, personality, likes, dislikes along with what interests and fasctinates me makes the person I am
            today. It is always helpful to know how the person is before trusting. Go ahead and find out all things I
            do.</p>
    </div>
</section>

<section class="dd-about-me-cont">
    <div class="container-fluid dd-res-work-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-img-top dd-aboutme-tiles-img-traveller dd-blog-tiles-img" data-aos="fade-right"
                        data-aos-duration="1000"></div>
                    <div class="card-body">
                        <label class="card-title">traveller</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card dd-web-card-noborder" data-aos="fade-left">
                    <div class="card-body dd-about-me-card-body-text">
                        <p>Travel makes one modest. You see what a tiny place you occupy in the world. This is the quote
                            that always remind me to get out of the four walls of my house and start travelling. A
                            travel could be anywhere, a place close to your house or somewhere far off in a foreign
                            country, but unless we leave our hometown and explore other lands, we cannot learn how other
                            cultures are, good or bad. I have been fortunate enough to travel and explore some parts of
                            my country with my friends and family and it always fascinates me whenever a new trip is
                            planned. Unfortunately I never had the opportunity to travel abroad, but if I get a chance,
                            I will definately grab it with open arms.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dd-about-me-cont">
    <div class="container-fluid dd-res-work-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-img-top dd-aboutme-tiles-img-phil dd-blog-tiles-img" data-aos="fade-right"
                        data-aos-duration="1000"></div>
                    <div class="card-body">
                        <label class="card-title">philanthropist</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card dd-web-card-noborder" data-aos="fade-left">
                    <div class="card-body dd-about-me-card-body-text">
                        <p>If you are in the luckiest 1% of humanity, you owe it to the rest of humanity to think about
                            the other 99%, says warren buffet. Though I won't consider myself into the elite of the
                            world, there are numerous others who need help in some form or the other, and even if the
                            help is not a major one, I try to contribute for the good of the society. Yes, it surely
                            leaves me in a precarious situation, but what is more important, to fill the bank with
                            millions or to give it to the poor and see them smile in return. I have found my way of
                            contributing to the society and would surely like to improve on that.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dd-about-me-cont">
    <div class="container-fluid dd-res-work-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-img-top dd-aboutme-tiles-img-sw dd-blog-tiles-img" data-aos="fade-right"
                        data-aos-duration="1000"></div>
                    <div class="card-body">
                        <label class="card-title">social worker</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card dd-web-card-noborder" data-aos="fade-left">
                    <div class="card-body dd-about-me-card-body-text">
                        <p>One person caring about another represents life's greatest value, says jim rohn. When you do
                            it right, social work is a feeling that is larger than your own life, and this is what
                            inspired me to join the Society of St. Vincent de Paul. It is an international voluntary
                            organization in the Catholic Church, founded in 1833 for the sanctification of its members
                            by personal service of the poor. Among its varied efforts to offer material help to the poor
                            or needy, the society also raises money for the poor. There are a great variety of outreach
                            programs sponsored by the local conferences and councils, addressing local needs for social
                            services. You can only help while you can after which you are at the mercy of others to help
                            you in your needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dd-about-me-cont">
    <div class="container-fluid dd-res-work-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-img-top dd-aboutme-tiles-img-ath dd-blog-tiles-img" data-aos="fade-right"
                        data-aos-duration="1000"></div>
                    <div class="card-body">
                        <label class="card-title">athlete and sports lover</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card dd-web-card-noborder" data-aos="fade-left">
                    <div class="card-body dd-about-me-card-body-text">
                        <p>All work and no play makes jack a dull boy, a quote I still remember from my days early in
                            school. Sports is life for me and I play whenver I have free time, having won various
                            tournaments while in school and college. Also was part of the company's football team. Apart
                            from taking part in various sports, I also watch and follow various sports, like cricket,
                            football, tennis, badminton, formula 1, track and field events and more. Yes while working
                            in the industry, the playing hours got reduced, but just like michael jordan says, obstacles
                            don't have to stop you, if you run into a wall don't turn around and give up, figure out how
                            to climb it, go through it, or work around it.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dd-about-me-cont">
    <div class="container-fluid dd-res-work-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-img-top dd-aboutme-tiles-img-st dd-blog-tiles-img" data-aos="fade-right"
                        data-aos-duration="1000"></div>
                    <div class="card-body">
                        <label class="card-title">invester and stock trader</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card dd-web-card-noborder" data-aos="fade-left">
                    <div class="card-body dd-about-me-card-body-text">
                        <p>Do not save what is left after spending, spend what is left after saving, a quote which
                            caught my attention after working for three years in the industry and spending the savings
                            on various things, things which were necessary, but with a better monetary planning early on
                            could have made life much easier. Nevertheless, it introduced me to the world of stock
                            market and after trying out my luck in day trying in both equity and options segment with
                            knowledge, I have slowly moved on to investing for short durations and started studying
                            every aspect of a market. These are still early days for me in the world of stock markets
                            and the water is rough, but even the tallest building was not built in a single day, so I
                            will keep trying to find better ways. Ultimately you can't keep a single source of income if
                            you dream of becoming a self made millionare.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dd-about-me-cont">
    <div class="container-fluid dd-res-work-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-img-top dd-aboutme-tiles-img-mn dd-blog-tiles-img" data-aos="fade-right"
                        data-aos-duration="1000"></div>
                    <div class="card-body">
                        <label class="card-title">mountaineer</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card dd-web-card-noborder" data-aos="fade-left">
                    <div class="card-body dd-about-me-card-body-text">
                        <p>Climb mountains not so the world can see you, but so you can see the world. Thousands of
                            tired, nerve-shaken, over civilized people are beginning to find out that going to the
                            mountain is going home,that wilderness is a necessity. After living all my life in a coastal
                            town, mountains and climbing the mountains always fascinated me, where my journey began as a
                            mountaineer. Everyone wants to live on top of the mountain, but all the happiness and growth
                            occurs while your are climbing. I have scaled various small mountains and also the highest
                            mountain in the state of Maharashtra, India and looking forward for scaling few more this
                            year.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dd-about-me-cont">
    <div class="container-fluid dd-res-work-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-img-top dd-aboutme-tiles-img-al dd-blog-tiles-img" data-aos="fade-right"
                        data-aos-duration="1000"></div>
                    <div class="card-body">
                        <label class="card-title">animal lover</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card dd-web-card-noborder" data-aos="fade-left">
                    <div class="card-body dd-about-me-card-body-text">
                        <p>Animal lovers are a special breed of humans, generous of spirit, full of empathy, perhaps a
                            little prone to sentimentality, and with hearts as big as a cloudless sky, a quote by john
                            grogan perfectly describing an animal lover. Right from my childhood, we had a pet dog in
                            our house and the values of respecting a animals life were instilled inside. Growing up one
                            thing I understood that until one has loved an animal, a part of one's soul remains
                            unawakened. We can judge the heart of a man by his treatment of animals. Loving animals
                            means loving all animals, not just the ones we share our homes with.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="dd-about-me-cont">
    <div class="container-fluid dd-res-work-cont">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card text-center dd-web-card-noborder">
                    <div class="card-img-top dd-aboutme-tiles-img-ms dd-blog-tiles-img" data-aos="fade-right"
                        data-aos-duration="1000"></div>
                    <div class="card-body">
                        <label class="card-title">musician</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card dd-web-card-noborder" data-aos="fade-left">
                    <div class="card-body dd-about-me-card-body-text">
                        <p>The piano keys are black and white, but they sound like a million colours in your mind, quote
                            by maria cristina mena reminds us how beautiful music can be. I started playing harmonica
                            while a child and now moved on to play a keyboard. Apart from piano, I can also play a bit
                            of harmonica which I plan to learn sometines soon. Life without music is dull, it is like a
                            piano, the white keys represent happiness and the black show sadness. But as you go through
                            life's journey, remember that the black keys also create music, what you get out of it
                            depends on how you play it. Music is life, that's why our heart have beats and the one who
                            plays the music keeps life running.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contactme" class="dd-even-section">
    <div class="container-fluid dd-home-cm-cont" data-aos="zoom-out-up" data-aos-easing="linear">
        <h2 class="dd-home-cm-hd">Hire a Software Developer</h2>
        <p class="dd-home-cm-req-desc">Now that you know what I do daily, feel free to reach out and start a
            conversation. I always enjoy speaking with passionate business owners, if not just fancy saying hi.</p>
        <a class="dd-home-cm-btn btn btn-outline-dark" href="mailto:doltondsilva23@gmail.com">CONTACT ME</a>
    </div>
</section>