<section class="dd-even-section">
    <div class="dd-home-self-mc-profile">
        <div class="dd-blog-quote-icon">
            <i class="fas fa-tools dd-port-infosec-icon"></i>
        </div>
        <h2>Hey There.</h2>
        <p>It is always good to find out some of the technologies I have used in the past. Below you'll find a selection
            of some of the technologies that showcase the type of I work do.</p>
    </div>
</section>

<section id="resumehighlights">
    <div class="container-fluid dd-res-work-cont">
        <div class="row">
            <div class="col-lg-4">
                <div class="card dd-web-card-noborder">
                    <div class="card-body">
                        <h5 class="card-title">Technologies</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card border-light">
                    <div class="card-body">
                        <label class="card-title">DAY-TO-DAY COMFORT</label>
                        <div class="dd-res-work-card-data">
                            <ul>
                                <li>Java</li>
                                <li>JavaScript</li>
                                <li>MySql</li>
                                <li>JMeter</li>
                                <li>Hibernate</li>
                                <li>Spring / SpringBoot</li>
                                <li>Vagrant</li>
                                <li>HTML / CSS</li>
                                <li>Bootstrap</li>
                                <li>Maven</li>
                                <li>Git</li>
                                <li>JQuery / Underscore</li>
                                <li>Easymock / Powermock</li>
                                <li>REST Web Services</li>
                                <li>Agile Methodology</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card border-light">
                    <div class="card-body">
                        <label class="card-title">EXPERIENCE WITH</label>
                        <div class="dd-res-work-card-data">
                            <ul>
                                <li>Node.JS</li>
                                <li>Express JS</li>
                                <li>MongoDB</li>
                                <li>React JS / Redux</li>
                                <li>Webpack</li>
                                <li>Babel</li>
                                <li>SOAP Web Services</li>
                                <li>Struts</li>
                                <li>Apache ANT</li>
                                <li>Shell Scripting</li>
                                <li>AWS</li>
                                <li>SVN</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="workexperience">
    <div class="container-fluid dd-res-work-cont">
        <div class="row">
            <div class="col-lg-4">
                <div class="card dd-web-card-noborder">
                    <div class="card-body">
                        <h5 class="card-title">Work Experience</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card border-light">
                    <div class="card-body">
                        <label class="card-title">SENIOR SOFTWARE ENGINEER</label>
                        <div>
                            <label class="card-title">Digite Infotech Pvt Ltd, Mumbai, September 2014 - December
                                2018</label>
                            <div class="dd-res-work-card-data">
                                <p>
                                    Design, build and maintain web applications, using authoring or scripting languages,
                                    content creation tools, management tools. Develop performance scripts and build the
                                    infrastructure using automation tools and shell scripting on cloud environment to
                                    test the application performance for tuning as well as load testing. Build web
                                    services and perform integration with various tools for a better end using
                                    experience with feature rich application. Perform or direct web application updates
                                    and installation on customer environments. Evaluate code to ensure that it is valid,
                                    is properly structured, meets industry standards and is compatible with browsers.
                                    Develop or validate test routines and schedules to ensure that test cases mimic
                                    external interfaces and address all browser and device types. Write or contribute to
                                    instructions or manuals to guide end users.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="qualification">
    <div class="container-fluid dd-res-work-cont">
        <div class="row">
            <div class="col-lg-4">
                <div class="card dd-web-card-noborder">
                    <div class="card-body">
                        <h5 class="card-title">Education</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card border-light">
                    <div class="card-body">
                        <div class="dd-res-work-card-bd-data-row">
                            <label class="card-title">BACHELOR OF ENGINEERING IN COMPUTER SCIENCE</label>
                            <div class="dd-res-work-card-data">
                                Xavier Institute Of Engineering, Mumbai, June 2010 - May 2014
                            </div>
                        </div>
                        <div class="dd-res-work-card-bd-data-row">
                            <label class="card-title">HIGHER SECONDARY CERTIFICATE</label>
                            <div class="dd-res-work-card-data">
                                Thomas Baptista Junior College, Vasai, June 2008 - May 2010
                            </div>
                        </div>
                        <div class="dd-res-work-card-bd-data-row">
                            <label class="card-title">SECONDARY SCHOOL CERTIFICATE</label>
                            <div class="dd-res-work-card-data">
                                St. Anthony's Convent High School, Vasai, June 1996 - May 2008
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contactme" class="dd-even-section">
    <div class="container-fluid dd-home-cm-cont">
        <h2 class="dd-home-cm-hd">Hire a Software Developer</h2>
        <p class="dd-home-cm-req-desc">Now that you know what I've done and what I could do for you, feel free to reach
            out and start a conversation. I always enjoy speaking with passionate business owners about their needs.</p>
        <a class="dd-home-cm-btn btn btn-outline-dark" href="mailto:doltondsilva23@gmail.com">CONTACT ME</a>
    </div>
</section>